# Notebook 01 — Load data & quick EDA

**Goal**: Know shapes, column names, types, missingness, suspicious values.

In [15]:
import pandas as pd
from pathlib import Path

# Adjust path to point to the data directory relative to this notebook
DATA_DIR = Path('../data') 

print(f"Data directory: {DATA_DIR.resolve()}")

Data directory: /home/parambrata-ghosh/Development/Personal/internship-assignment/reresumesubmissionparambrataghosh/data

In [16]:
try:
    airtel = pd.read_csv(DATA_DIR/'airtel-report.csv')
    jio = pd.read_csv(DATA_DIR/'jiosaavn-report.csv')
    wynk = pd.read_csv(DATA_DIR/'wynk-report.csv')
    print("Files loaded successfully.")
except FileNotFoundError as e:
    print(f"Error loading files: {e}")

Files loaded successfully.

In [17]:
name='airtel'
df= airtel
print(f"--- {name.upper()} ---")
print(f"Shape: {df.shape}")
display(df.head())
print("\nData Types:")
display(df.dtypes)
print("\nMissing Values:")
display(df.isna().sum())
print("\n" + "="*50 + "\n")

--- AIRTEL ---
Shape: (4, 4)

        Song Name   Album Name           Artist     Rev
0   Mast Kalandar     Duma Dum       Honey Sing   0.003
1  Jokhn Porbe Na  Tagore Song     Somali Ghosh  10.003
2       Ore Griho  Tagore Song  Sounak Majumder   0.034
3            ABCD         ABCD   Dipannita Aziz   4.090

Data Types:

Song Name      object
Album Name     object
Artist         object
Rev           float64
dtype: object

Missing Values:

Song Name     0
Album Name    0
Artist        0
Rev           0
dtype: int64

==================================================

In [18]:
name='Jio'
df= jio
print(f"--- {name.upper()} ---")
print(f"Shape: {df.shape}")
display(df.head())
print("\nData Types:")
display(df.dtypes)
print("\nMissing Values:")
display(df.isna().sum())
print("\n" + "="*50 + "\n")

--- JIO ---
Shape: (2666, 22)

,sr_no,song_name,album_name,artist_name,isrc,upc,language,label,Main_Label,Sub_Label,...,subscription_streams,jio_trial_streams,total,income,admin_Exp,royality,id,original_l1_name,original_l2_name,company
0,79975,Tara Maiya Tere Darbar,Tara Maa Ki Mahima Aapar,Jojo Mrinal Mukherjee Prem Kumar,INT441651504,8.903870e+12,Hindi,ThinkTrek,Thinktrek Software LLP,ThinkTrek,...,0,0,9,0.675,0.10125,0.57375,0,Thinktrek Software LLP,ThinkTrek,NaN
1,157238,Lovely Lovely Night,Hiya Deba Kaak,Sanchita Shaan Swarna,INT441629102,8.903870e+12,Assamese,ThinkTrek,Thinktrek Software LLP,ThinkTrek,...,0,0,5,0.375,0.05625,0.31875,0,Thinktrek Software LLP,ThinkTrek,NaN
2,169876,Mon Bawra,Kanamachi,Indradeep Dasgupta,INT441632205,8.903870e+12,Bengali,ThinkTrek,Thinktrek Software LLP,ThinkTrek,...,52,0,482,36.150,5.42250,30.72750,0,Thinktrek Software LLP,ThinkTrek,NaN
3,202456,Bolo Bolo Bolo Shobe,Monchuri,Raja Narayan Deb,INT441636701,8.903870e+12,Bengali,ThinkTrek,Thinktrek Software LLP,ThinkTrek,...,0,0,6,0.450,0.06750,0.38250,0,Thinktrek Software LLP,ThinkTrek,NaN
4,209545,Natraj Nache Re,Tara Maa Ki Mahima Aapar,Jojo Mrinal Mukherjee Prem Kumar,INT441651502,8.903870e+12,Hindi,ThinkTrek,Thinktrek Software LLP,ThinkTrek,...,0,0,9,0.675,0.10125,0.57375,0,Thinktrek Software LLP,ThinkTrek,NaN

Data Types:

sr_no                     int64
song_name                object
album_name               object
artist_name              object
isrc                     object
upc                     float64
language                 object
label                    object
Main_Label               object
Sub_Label                object
Label_Identification     object
ad_supported_streams      int64
subscription_streams      int64
jio_trial_streams         int64
total                     int64
income                  float64
admin_Exp               float64
royality                float64
id                        int64
original_l1_name         object
original_l2_name         object
company                 float64
dtype: object

Missing Values:

sr_no                      0
song_name                  0
album_name                 0
artist_name                0
isrc                       0
upc                        0
language                   0
label                      0
Main_Label                 0
Sub_Label                  0
Label_Identification       0
ad_supported_streams       0
subscription_streams       0
jio_trial_streams          0
total                      0
income                     0
admin_Exp                  0
royality                   0
id                         0
original_l1_name           0
original_l2_name           0
company                 2666
dtype: int64

==================================================

In [19]:
name='wynk'
df= wynk
print(f"--- {name.upper()} ---")
print(f"Shape: {df.shape}")
display(df.head())
print("\nData Types:")
display(df.dtypes)
print("\nMissing Values:")
display(df.isna().sum())
print("\n" + "="*50 + "\n")

--- WYNK ---
Shape: (6212, 20)

,song_id,isrc,song_name,album_name,language,label,Main_Label,Sub_Label,Label_Identification,artist,album_id,total,file_name,income,admin_Exp,royality,id,original_l1_name,original_l2_name,company
0,srch_pplkolkata_IN-T44-19-00216,int441900216,jadi brishti tumi kane kane,Amar mita vol. 02,ba,ThinkTrek,Thinktrek Software LLP,PDL,PDL,Bratati Bandyopadhyay,srch_pplkolkata_193483832005,1,Kolkata,0.05618,0.008427,0.047753,216,Thinktrek Software LLP,PDL,NaN
1,srch_pplkolkata_IN-T44-19-00086,int441900086,e to khela noe khela noe,Jibansathi,ba,ThinkTrek,Thinktrek Software LLP,PDL,PDL,sujata chakraborty bandyopadhyay,srch_pplkolkata_193483502922,1,Kolkata,0.05618,0.008427,0.047753,216,Thinktrek Software LLP,PDL,NaN
2,srch_pplkolkata_IN-T44-17-04141,int441704141,mon jaane monomohon aailo,Gitabitan vol. 57,ba,ThinkTrek,Thinktrek Software LLP,PDL,PDL,baishakhi ghoshal,srch_pplkolkata_191773861391,2,Kolkata,0.11236,0.016854,0.095506,216,Thinktrek Software LLP,PDL,NaN
3,srch_pplkolkata_INT442000482,int442000482,Aashiley Key Go Otithi,Bengali Hamd-Naat of Kazi Nazrul Islam Vol. 01.,ba,ThinkTrek,Thinktrek Software LLP,PDL,PDL,yakub ali khan,srch_pplkolkata_195081535784,2,Kolkata,0.11236,0.016854,0.095506,216,Thinktrek Software LLP,PDL,NaN
4,srch_pplkolkata_INT442000742,int442000742,Ameena Dulal,Bengali Hamd-Naat of Kazi Nazrul Islam Vol. 02.,ba,ThinkTrek,Thinktrek Software LLP,PDL,PDL,nashid kamal,srch_pplkolkata_195081836577,1,Kolkata,0.05618,0.008427,0.047753,216,Thinktrek Software LLP,PDL,NaN

Data Types:

song_id                  object
isrc                     object
song_name                object
album_name               object
language                 object
label                    object
Main_Label               object
Sub_Label                object
Label_Identification     object
artist                   object
album_id                 object
total                     int64
file_name                object
income                  float64
admin_Exp               float64
royality                float64
id                        int64
original_l1_name         object
original_l2_name         object
company                 float64
dtype: object

Missing Values:

song_id                    0
isrc                       0
song_name                  0
album_name                19
language                   0
label                      0
Main_Label                 0
Sub_Label                  0
Label_Identification       0
artist                    55
album_id                   0
total                      0
file_name                  0
income                     0
admin_Exp                  0
royality                   0
id                         0
original_l1_name           0
original_l2_name           0
company                 6212
dtype: int64

==================================================

## Checklist

In [20]:
# 1. Are revenue columns numeric? If not, coerce.
def check_numeric_revenue(df, col_name, dataset_name):
    if not pd.api.types.is_numeric_dtype(df[col_name]):
        print(f"[{dataset_name}] '{col_name}' is NOT numeric. Sample values:")
        print(df[col_name].unique()[:5])
    else:
        print(f"[{dataset_name}] '{col_name}' is numeric.")

check_numeric_revenue(airtel, 'Rev', 'airtel')
check_numeric_revenue(jio, 'income', 'jio')
check_numeric_revenue(wynk, 'income', 'wynk')

[airtel] 'Rev' is numeric.
[jio] 'income' is numeric.
[wynk] 'income' is numeric.

In [21]:
# 2. if activity period is present, convert to datetime.
# Note: Based on file inspection, we need to identify date columns.
# Airtel doesn't seem to have a clear date column in the first few lines.
# Jio and Wynk might have them or they might be inferred from filenames or other metadata.

print("Checking for potential date columns...")
for name, df in [('airtel', airtel), ('jio', jio), ('wynk', wynk)]:
    print(f"[{name}] Columns: {df.columns.tolist()}")

Checking for potential date columns...
[airtel] Columns: ['Song Name', 'Album Name', 'Artist', 'Rev']
[jio] Columns: ['sr_no', 'song_name', 'album_name', 'artist_name', 'isrc', 'upc', 'language', 'label', 'Main_Label', 'Sub_Label', 'Label_Identification', 'ad_supported_streams', 'subscription_streams', 'jio_trial_streams', 'total', 'income', 'admin_Exp', 'royality', 'id', 'original_l1_name', 'original_l2_name', 'company']
[wynk] Columns: ['song_id', 'isrc', 'song_name', 'album_name', 'language', 'label', 'Main_Label', 'Sub_Label', 'Label_Identification', 'artist', 'album_id', 'total', 'file_name', 'income', 'admin_Exp', 'royality', 'id', 'original_l1_name', 'original_l2_name', 'company']

In [22]:
# 3. checking if store_name, artist, album, track, country, unit_type/stream_type present?
required_concepts = ['artist', 'album', 'track', 'country', 'stream_type']

for name, df in [('airtel', airtel), ('jio', jio), ('wynk', wynk)]:
    print(f"--- {name.upper()} Column Check ---")
    for concept in required_concepts:
        # Simple keyword match
        matches = [c for c in df.columns if concept in c.lower()]
        print(f"{concept}: {matches if matches else 'MISSING'}")
    print("\n")

--- AIRTEL Column Check ---
artist: ['Artist']
album: ['Album Name']
track: MISSING
country: MISSING
stream_type: MISSING


--- JIO Column Check ---
artist: ['artist_name']
album: ['album_name']
track: MISSING
country: MISSING
stream_type: MISSING


--- WYNK Column Check ---
artist: ['artist']
album: ['album_name', 'album_id']
track: MISSING
country: MISSING
stream_type: MISSING

In [23]:
# 4. Are there duplicate rows?
for name, df in [('airtel', airtel), ('jio', jio), ('wynk', wynk)]:
    dupes = df.duplicated().sum()
    print(f"[{name}] Duplicate rows: {dupes}")

[airtel] Duplicate rows: 0
[jio] Duplicate rows: 0
[jio] Duplicate rows: 0
[wynk] Duplicate rows: 0

In [24]:
# 5. Any negative values in revenue or stream_count?
def check_negatives(df, col_name, dataset_name):
    if col_name in df.columns and pd.api.types.is_numeric_dtype(df[col_name]):
        neg_count = (df[col_name] < 0).sum()
        print(f"[{dataset_name}] Negative values in '{col_name}': {neg_count}")
    elif col_name in df.columns:
         print(f"[{dataset_name}] '{col_name}' is not numeric, skipping negative check.")

check_negatives(airtel, 'Rev', 'airtel')
check_negatives(jio, 'income', 'jio')
check_negatives(wynk, 'income', 'wynk')

# Check stream counts if columns exist (guessing names based on typical schemas)
stream_cols = ['Stream Count', 'total', 'Total Streams']
for name, df in [('airtel', airtel), ('jio', jio), ('wynk', wynk)]:
    for col in stream_cols:
        if col in df.columns:
             check_negatives(df, col, name)

[airtel] Negative values in 'Rev': 0
[jio] Negative values in 'income': 0
[wynk] Negative values in 'income': 0
[jio] Negative values in 'total': 0
[wynk] Negative values in 'total': 0

## Summary of Immediate Issues

*   **Airtel**:
    *   [ ] Missing Date/Activity Period column?
    *   [ ] Revenue column type check.
*   **JioSaavn**:
    *   [ ] ...
*   **Wynk**:
    *   [ ] ...